<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Reports</title>
    <h1>Company X</h1>
    <p>Run Report</p>
    <a href='/home' >Go Home</a>


    <br>
    
</head>
<body>
    <form action="/run_report" target="report_frame" method="post">
        Report Name: <input type="text" name = "report_name" id="report_name" placeholder= "Default: Report1"/>.fex
        <input type="submit" value = "Submit" />
    </form>
 <!--   <p><a href="/run_report" target="report_frame">Run Report</a></p> -->
    <p>Note: Reports will show up in the frame below and may take some time to load; please wait a moment after clicking run.</p>
    <p>Reports assumed to be in the Public Repository and are case sensitive</p>
    <iframe name="report_frame" style="position: absolute; height: 70%; width: 80% ">Report Appears Here</iframe>


</body>
</html>